<div class="col-md-12">
  <%= f.input :name, label: "Nombre" %>
  <%= f.input :id_brand, label: "Zona Comercial", collection: @shopping_areas, input_html:
    {:class => "selectpicker", title: "Seleccionar..."} %>
  <%= f.input :id_brand, label: "Marca", collection: @brands, input_html:
    {:class => "selectpicker", title: "Seleccionar..."} %>
  <%= f.input :phone, label: "Telefono" %>
  <%= f.input :email, label: "Email" %>
  <%= f.input :address, label: "Direccion" %>
</div>