<tr>
  <td><%= promo.brand.blank? ? "-" : promo.brand.name %></td>
  <td><%= promo.name %></td>
  <td><%= promo.description.blank? ? "-" : promo.description %></td>
  <td><%= promo.restriction.blank? ? "-" : promo.restriction %></td>
  <td><%= promo.start_date.blank? ? "-" : promo.start_date %></td>
  <td><%= promo.end_date.blank? ? "-" : promo.end_date %></td>
  <td>
    <%= link_to(promo, :class => 'btn btn-xs btn-primary', :title =>
        "Ver") do %>
        <span class= "glyphicon glyphicon-info-sign"></span>
    <% end %>
    <%= link_to(edit_promo_path(promo), :class =>
        'btn btn-default btn-xs', :title => "Editar", disabled: true) do %>
        <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
    <%= link_to(promo, method: :delete, data: { confirm:
        '¿Está seguro?' }, :class => 'btn btn-xs btn-danger', :title =>
        "Eliminar") do %>
        <span class="glyphicon glyphicon-trash"></span>
    <% end %>

  </td>
</tr>