<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @promo.name %>
</p>

<p>
  <b>Description:</b>
  <%= @promo.description %>
</p>

<p>
  <b>Id marca:</b>
  <%= @promo.id_marca %>
</p>

<p>
  <b>Id tienda:</b>
  <%= @promo.id_tienda %>
</p>


<%= link_to 'Edit', edit_promo_path(@promo) %> |
<%= link_to 'Back', promos_path %>
