<div class="col-md-6">
  <%= f.input :name, label: "Nombre" %>
  <%= f.input :nit %>
  <%= f.input :phone %>
  <%= f.input :email %>
  <%= f.input :web_page %>
  <%= f.file_field :avatar %>
</div>
<div class="col-md-6">
  <%= f.input :description, label: "Descripción", input_html: {cols: 39, rows: 11,
    style: "resize: none"}%>
</div>

