<div class="col-md-6">
  <%= f.input :name, label: "Nombre", input_html: {size: 40} %>
  <%= f.input :nit, input_html: {size: 40} %>
  <%= f.input :phone, input_html: {size: 40} %>
  <%= f.input :email, input_html: {size: 40} %>
  <%= f.input :web_page, input_html: {size: 40} %>
</div>
<div class="col-md-6">
  <%= f.input :description, label: "Descripción", input_html: {cols: 39, rows: 11,
    style: "resize: none"}%>
</div>

